.container{
    width: 90%;
    background-color: rgb(236, 238, 239);
    margin: 20px auto;
    padding: 10px;
}

.card-item{
    margin-bottom: 20px;
    width: 100%;
}

.checkout-btn{
    width: 100%;
}

.header{
    margin-bottom: 15px;

}

.empty-container{
    text-align: center;
}

.empty-container img{
    width: 300px;
    margin-bottom: 20px;
}