.container{
    width: 90%;
    background-color: rgb(236, 238, 239);
    margin: 20px auto;
    padding: 10px;
}

.cardItem{
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.header{
    margin-bottom: 15px;
}

.empty_container{
    text-align: center;
}

.empty_container img{
    width: 300px;
    margin-bottom: 20px;
}